<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>




<body>
    <header>
        <a>
        <nav>
            <ul>
                <li>home</li>
                <li>proyectos</li>
                <li>skills</li>
            
            </ul>
        </nav>
    </header>
</body>

// index.html
// app.js
// styles.css